{% extends 'orders/base.html'%}
{% block content%}
{% for tag in searched_tags %}
     <article class="media content-section">
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" href="{% url 'profile'%}">{{ tag.orderer }}</a>
           <small class="text-muted">{{ tag.date_posted|date:"F d, Y" }}</small>
         </div>
         <h2><a class="article-title" href="{% url 'orders-detail' tag.id %}">{{ tag.title }}</a></h2>
         <p class="article-content">{{ tag.content }}</p>
       </div>
       </div>
     </article>
   {% endfor %}
{% endblock %}